language: erlang
otp_release:
- 19.1
- 18.3
- 17.5
- R16B03
- R15B03
notifications:
  slack:
    secure: UdKhiXftotGmxwNUROU+TzNVlI9rTRSi9aZDc45NxUDkx55ZbtuJOvyYeXKTwsAfwlcWnsSYNrBdnFzXjcrPEZyRsV5qUqBsWF5zR8MI3sBjjLwCZAHlKDhFxecOkmRCi5Xy+JPViQVzn4RKbJ87KTj+mHvopDKkeVOu9A7HGdE=
