%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.
{deps, [
        {protobuffs, "0.8.1", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.1"}}}
       ]}.

{eunit_opts, [verbose]}.

%% Fixes attempted removal of riak_pb directory by rebar_escripter
{escript_name, "doesnothavescript"}.
