%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.
{deps, [
        {protobuffs, "0.8.*", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.1p4"}}}
       ]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions,
               locals_not_used]}.
{eunit_opts, [verbose]}.
{plugins, [riak_pb_msgcodegen]}.
{plugin_dir, "plugins"}.
%% Fixes attempted removal of riak_pb directory by rebar_escripter
{escript_name, "doesnothavescript"}.
